$white: #fff;
$white1: #fffcf8;
$black: #000;
$darkGrey: #191818;
$darkGrey1: #191919;
$grey: #7c7c7c;
$greyLight: #7f7f7f;
$greyH4: #8e8e8e;
$greyH5: #d9d9d9;
$greyJoin: #767676;
$navLinks: #242323;
$yellow: #fbeda3;
$yellow1: #ebd96b;
$darkYellow: #e5c643;
