@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700;900&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0 50px;
}

nav,
header,
main,
footer {
  filter: blur(5px);
}

h1 {
  font-size: 96px;
  font-weight: 900;
  line-height: 120px;
  padding-left: 20px;
}

h1 span:nth-of-type(1) {
  background-image: url("../img/background-main-headline-white.svg");
  background-repeat: no-repeat;
  margin-left: -20px;
  padding: 0 100px 0 20px;
}

h1 span:nth-of-type(2) {
  background-image: url("../img/background-main-headline-yellow.svg");
  background-repeat: no-repeat;
  margin-left: -20px;
  padding: 0 100px 0 20px;
}

h1 + p {
  font-weight: 400;
  font-size: 32px;
  color: #191818;
}

h2 {
  font-weight: 900;
  font-size: 48px;
}

h2 + p {
  font-weight: 500;
  font-size: 24px;
  color: #7c7c7c;
}

h3 {
  font-weight: 900;
  font-size: 55px;
  color: #fff;
}

h3 + p {
  font-weight: 400;
  font-size: 32px;
  color: #fffcf8;
}

h4 {
  font-weight: 900;
  font-size: 40px;
  color: #fff;
}

h4 + p {
  font-weight: 400;
  font-size: 24px;
  color: #8e8e8e;
}

h5 {
  color: #d9d9d9;
  font-weight: 400;
  font-size: 24px;
}

h5 ~ a {
  display: block;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  color: #8e8e8e;
}

h6 {
  display: inline-block;
  color: #191919;
  font-weight: 500;
  font-size: 32px;
}

.blackBtn,
.whiteBtn {
  font-weight: 500;
  font-size: 24px;
  border-radius: 10px;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
}

.blackBtn {
  background-color: #000;
  color: #fff;
}

.blackBtn:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.5s ease-out;
}

.whiteBtn {
  background-color: #fff;
  color: #000;
}

.whiteBtn:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.5s ease-out;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 10px;
}
nav a {
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
  font-size: 22px;
  color: #242323;
}
nav a:hover {
  color: #7c7c7c;
}

@media only screen and (max-width: 1100px) {
  nav {
    display: block;
  }
}
header {
  background-image: url("../img/header-image.png");
  background-position: center;
  background-size: 1900px;
  background-repeat: no-repeat;
  padding: 100px;
  margin: 20px 0;
  border-radius: 50px;
}
header button {
  margin: 25px 0;
}

main #newArrivals div:nth-of-type(1) {
  display: flex;
  align-items: baseline;
}
main #newArrivals div:nth-of-type(1) form {
  margin-left: 40px;
}
main #newArrivalsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main #newArrivalsContent article {
  margin: 25px;
}
main #newArrivalsContent article:hover {
  opacity: 0.9;
}
main #newArrivalsContent article div:last-child {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 24px;
  margin-top: 10px;
}
main #newArrivalsContent article div:last-child p {
  cursor: pointer;
  margin-right: 5px;
  text-decoration: underline;
  color: #7c7c7c;
}
main #newArrivalsContent article div:last-child p:hover {
  color: #191818;
}
main #newArrivalsContent article div {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
main #newArrivalsContent article div:nth-of-type(2) {
  font-weight: 500;
  font-size: 24px;
  color: #7f7f7f;
}
main #newArrivalsContent article > img {
  display: block;
  width: 300px;
  height: 400px;
  border-radius: 15px;
}
main #newArrivalsContent article button {
  border: none;
  background-color: #fff;
  font-size: 24px;
  cursor: pointer;
}
main #newArrivalsContent article button:hover {
  color: #e5c643;
}
main #newArrivalsContent article button img {
  width: 20px;
}
main section {
  margin: 100px 0;
}
main section:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
main section:nth-of-type(2) div {
  width: 500px;
}
main section:nth-of-type(2) div img {
  margin: 30px 20px 0 0;
  cursor: pointer;
}
main section:nth-of-type(2) img {
  max-width: 500px;
}

footer {
  font-family: "Roboto", sans-serif;
  margin: -50px;
}
footer h4 {
  font-family: "Poppins", sans-serif;
}
footer #join,
footer #joinThanks {
  background-color: #e5c643;
  text-align: center;
  padding: 100px;
}
footer #join div,
footer #joinThanks div {
  max-width: 1000px;
  margin: 0 auto;
}
footer #join form {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  width: 400px;
  margin: 20px auto 0;
}
footer #join form input[type=email] {
  border: none;
  margin-left: 10px;
  width: 260px;
  color: #767676;
  font-weight: 400;
  font-size: 24px;
}
footer #joinThanks {
  display: none;
}

#footer {
  background-color: #000;
  padding: 100px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#footer div:nth-of-type(2) div {
  margin: 0 100px 0 0;
}
#footer div:nth-of-type(2) div a {
  margin: 10px 0;
}
#footer div:nth-of-type(2) div a:hover {
  color: #fff;
}
#footer div:nth-of-type(1) {
  max-width: 500px;
  margin-bottom: 20px;
}
#footer div:nth-of-type(1) div ul {
  display: flex;
  list-style: none;
}
#footer div:nth-of-type(1) div ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ebd96b;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 15px;
}
#footer div:nth-of-type(1) div ul a:hover {
  background-color: #fbeda3;
}
#footer div:nth-of-type(2):not(div:nth-of-type(2) div) {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1293px) {
  #footer {
    justify-content: space-around;
  }
  #footer div:nth-of-type(1):not(div:nth-of-type(2) div) {
    margin-bottom: 50px;
    text-align: center;
  }
  #footer div:nth-of-type(1):not(div:nth-of-type(2) div) div ul {
    justify-content: center;
  }
}
#shoppingCart {
  cursor: pointer;
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: inline-block;
  background-color: #fbeda3;
  padding: 20px 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#shoppingCart img {
  width: 70%;
}
#shoppingCart #shoppingCartCounter {
  position: absolute;
  left: -15px;
  top: -10px;
  background-color: #e5c643;
  font-weight: 500;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
#shoppingCart #shoppingCartCounter p {
  text-align: center;
  line-height: 40px;
}

#shoppingCartOverlay {
  display: none;
  position: fixed;
  top: 25%;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #fbeda3;
  text-align: center;
}
#shoppingCartOverlay button {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #fbeda3;
  font-size: 24px;
  border: none;
  cursor: pointer;
}
#shoppingCartOverlay #shoppingCartOverlayContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: #7c7c7c;
  font-size: 24px;
  height: 70%;
}
#shoppingCartOverlay #shoppingCartOverlayContent div {
  display: block;
  min-width: 350px;
}
#shoppingCartOverlay #shoppingCartOverlayContent div p {
  text-align: left;
}

#cookieOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
#cookieOverlay div:nth-of-type(1) {
  background-color: #fbeda3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
#cookieOverlay div:nth-of-type(1) button {
  margin-left: 20px;
}
#cookieOverlay div:nth-of-type(2) {
  height: 100vh;
  background-color: #fbeda3;
  opacity: 0.8;
}

@-webkit-keyframes logoAni {
  50% {
    transform: translate(20px);
  }
}

@keyframes logoAni {
  50% {
    transform: translate(20px);
  }
}
.opacity {
  -webkit-animation: opacity 1s ease 1;
          animation: opacity 1s ease 1;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */